In [1]:
# importing libraries  
import numpy as nm  
import matplotlib.pyplot as mtp  
import pandas as pd  
  
#importing datasets  
data_set= pd.read_csv('shampoo.csv')

In [2]:
data_set.head(9)

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,Maharashtra,Nashik,Pimpalgaon,Shampoo,Pole,02/03/2020,300,1800,1381
1,Maharashtra,Nashik,Pimpalgaon,Shampoo,Pole,04/03/2020,501,1851,1420
2,Maharashtra,Nashik,Pimpalgaon,Shampoo,Pole,05/03/2020,300,2001,1521
3,Maharashtra,Nashik,Pimpalgaon,Shampoo,Pole,06/03/2020,351,1966,1545
4,Punjab,Nawanshahr,Nawan Shahar(Subzi Mandi),Shampoo,Other,13/02/2020,2500,3000,2800
5,Punjab,Nawanshahr,Nawan Shahar(Subzi Mandi),Shampoo,Other,14/02/2020,2000,3000,2600
6,Punjab,Nawanshahr,Nawan Shahar(Subzi Mandi),Shampoo,Other,15/02/2020,2000,2500,2200
7,Punjab,Nawanshahr,Nawan Shahar(Subzi Mandi),Shampoo,Other,17/02/2020,2000,2500,2200
8,Rajasthan,Sirohi,Abu Road,Shampoo,Other,07/05/2020,975,1025,1000

In [32]:
#Extracting Independent and dependent Variable  
x= data_set.iloc[:, [6,7]].values  
y= data_set.iloc[:, 1].values

In [33]:
x,y

(array([[ 300, 1800],
        [ 501, 1851],
        [ 300, 2001],
        [ 351, 1966],
        [2500, 3000],
        [2000, 3000],
        [2000, 2500],
        [2000, 2500],
        [ 975, 1025],
        [ 775,  825],
        [ 775,  825],
        [ 975, 1025],
        [1070, 1150],
        [1070, 1150],
        [1070, 1150],
        [1060, 1140],
        [2900, 3100],
        [2900, 3100],
        [2600, 2800],
        [2900, 3100]], dtype=int64),
 array(['Nashik', 'Nashik', 'Nashik', 'Nashik', 'Nawanshahr', 'Nawanshahr',
        'Nawanshahr', 'Nawanshahr', 'Sirohi', 'Sirohi', 'Sirohi', 'Sirohi',
        'Badaun', 'Badaun', 'Badaun', 'Badaun', 'Burdwan', 'Burdwan',
        'Burdwan', 'Burdwan'], dtype=object))

In [48]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
temp= y
le = preprocessing.LabelEncoder()
le.fit(temp)
Actual_District=list(le.classes_)
x_temp=le.transform(temp)
inverse = list(le.inverse_transform(x_temp))
newarr = x_temp.reshape(len(data_set),1) #Changing row level to column level
xx = nm.append(x, newarr, axis=1)

In [56]:
y

array([[2],
       [2],
       [2],
       [2],
       [3],
       [3],
       [3],
       [3],
       [4],
       [4],
       [4],
       [4],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1]])

In [5]:
import math
Age=36
Salary=36600
length=[]
for i in range (0,len(x)):
    temp=[]
    distance = math.sqrt(((x[i][0]-Age)**2)+((x[i][1]-Salary)**2))
    temp.append(distance)
    temp.append(y[i])
    length.append(temp)

In [12]:
length.sort()

In [13]:
length

[[3600.01680551633, 0],
 [6400.0078124952315, 0],
 [7600.009473678306, 1],
 [8600.005813951524, 1],
 [10600.00382075403, 1],
 [11600.005215516068, 1],
 [12400.004879031298, 1],
 [14600.00277397234, 1],
 [15400.003246752905, 0],
 [16600.000030120482, 0],
 [17600.00821022536, 0],
 [18600.00043010752, 0],
 [20400.00198529402, 0],
 [21400.00189252328, 0],
 [28400.000017605635, 0],
 [39400.00366751252, 0],
 [43400.00056451612, 0],
 [43400.00115207372, 0],
 [47400.00085443037, 0],
 [49400.00259109305, 0],
 [113400.00007054674, 1]]

In [14]:
k = 3
purchase=0
not_purchase=0
for i in range (0,k):
    x=length[i][1]
    print(x)
    if x==1:
        purchase=purchase+1
    else:
        not_purchase = not_purchase+1    
print('Purchase =',purchase)
print('Not purchase =',not_purchase)

0
0
1
Purchase = 1
Not purchase = 2

In [9]:
len(data_set)

20

In [74]:
#Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size= 0.75, random_state=0)  
  
#feature Scaling  
from sklearn.preprocessing import StandardScaler    
st_x= StandardScaler()    
x_train= st_x.fit_transform(x_train)    
x_test= st_x.transform(x_test)  

#Fitting K-NN classifier to the training set  
from sklearn.neighbors import KNeighborsClassifier  
classifier= KNeighborsClassifier(n_neighbors=7, metric='minkowski', p=2 )  
classifier.fit(x_train, y_train)  

#Predicting the test set result  
y_pred= classifier.predict(x_test) 

from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)  
def accuracy(confusion_matrix):
    diagonal_sum = confusion_matrix.trace()
    sum_of_all_elements = confusion_matrix.sum()
    return diagonal_sum / sum_of_all_elements 
accuracy(cm)

c:\python3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.1

0.8